<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        h1 {
            color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 60px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; 
   }
    .button {
      position: relative;
      background-color: #4eb5f1;
      border: none;
      font-size: 15px;
      color: #FFFFFF;
      padding: 8px;
      width: 100px;
      text-align: center;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
    }
    .button:after {
      content: "";
      background: #89dbe9;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px!important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s
    }
    .button:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }
    </style>
    </head>
  
  <body>
    <div class="container">
      <h1 >URL Shortner</h1>
        <form action="/shortUrls" method="POST" class="my-4 form-inline">
            <label for="fullUrl" class="sr-only">Url</label>
            <input required placeholder="Enter URL" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
            <button class="button" type="submit">Shorten</button>
        </form>
      <head>
        <style>
            #short {
            font-family: Garamond , Garamond, Serif;
            border-collapse: collapse;
            font-size: 15px;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
            }
            #short td, #short th {
            border: 1px solid #ddd;
            padding: 15px;
            }
            
            #short tr:nth-child(even){background-color: rgb(226, 226, 218);}
            
            #short tr:hover {background-color: #ddd;}
            
            #short th {
            padding-top: 15px;
            padding-bottom: 12px;
            text-align: left;
            background-color: black;
            color: white;
            }
        </style>
    </head>
  
    <title>Url Shortner</title>
        <table id="short">
            <thead>
                <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Intial Length</th>
                <th>Final Length</th>
                <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl => { %>
                    <tr>
                        <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                        <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                        <td><%= shortUrl.full.length %></td>
                        <td><%= shortUrl.short.length %></td>
                        <td><textarea> </textarea></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        </div>
    </body>
</html>